html, body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #121212;
}
  
button, #btn {
    padding: 8px;
    
    font-family: 'Inter', sans-serif;
    font-size: medium;
    font-weight: bold;
    
    border: none;
    border-radius: 8%; 
    
    background: #212529;
    color: #cccccc;
    
    cursor: pointer;
}
  
button:hover {
    background: #2C2F33;
    color: white;
}

input {
    background-color: rgb(177, 177, 177);
    border: none;
}

input:focus {
    outline: none;
    background-color: white;
}

#pre-screen {
    position: absolute;
    width: 80%;
    height: 50%;
    background-color: black;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    z-index: 1;

    box-shadow: 0px 0px 50px rgb(105, 105, 105);
}

.log-or-sign {
    color: white;
    margin: 0.5rem;
    text-align: center;
}

.in-input {
    height: 25px;
    width: 15em;
    margin-block: 0.2rem;
}

.in-btn {
    height: 25px;
    width: 60px;
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0.5rem;
}

.toggle-mode {
    display: block;
    width: fit-content;
    background-color: transparent !important;
    color: blue;
    font-weight: 500;
    font-size: normal;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.login-mode {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-app {
    height: 99vh;
    width: 99%;
    /* border: 1px solid #212529; */

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

}

.msg-area {
    height: 100%;
    /* border: solid red; */
    flex: 15;

    display: flex;
    flex-direction: column;

    padding: 0.5rem;
    padding-top: 2.5rem;
    overflow-y: auto;
}

.msg-show {
    color: white;
    width: fit-content;
    padding: 0.5rem;
    max-width: 45%;
    background-color: blue;
    word-wrap: break-word;
}

.author-show {
    background-color: transparent !important;
    color: gray;
    font-size: smaller;
    margin-bottom: 0.5rem;
}

.self-msg {
    background-color: red;
    align-self: flex-end;
}

.send-msg {
    height: 100%;
    /* border: solid blue; */
    flex: 1;
    display: flex;
}

.msg-input {
    width: 100%;
    font-size: larger;
}

.send-btn {
    border-radius: 0 !important;
}

.author-joined {
    align-self: center;
    font-size: normal;
    font-family: monospace;
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
}

.show-online-btn {
    position: absolute;
    border-radius: 0;
}

.show-online-chart {
    display: none;
    width: 130px;
    height: auto;
    max-height: 250px;
    overflow: auto;
    background-color: rgba(44, 44, 44, 0.854);
    color: wheat;
    position: absolute;
    top: 2.3rem;
    padding: 1rem;
}
.show-online-chart:hover {
    background-color: rgb(44, 44, 44);
    transition: 0.2s ease-in;
}

.online-user-in-chart {
    font-weight: 300;
    margin-bottom: 0.2rem;
}


#tool-tip {
    width: adjust;
    padding: 0.5rem;
    height: auto;
    background-color: red;
    font-weight: 700;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -150%);
    box-shadow: 0 0 10px red;
    z-index: 2;
    display: none;
    user-select: none;
    -moz-user-select: none;
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar {
    height: 5px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}