html, body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
}
  
button, #btn {
    padding: 8px;
    
    font-family: 'Inter', sans-serif;
    font-size: medium;
    font-weight: bold;
    
    border: none;
    border-radius: 8%; 
    
    background: #212529;
    color: #cccccc;
    
    cursor: pointer;
}
  
button:hover {
    background: #2C2F33;
    color: white;
}


.main-app {
    height: 99vh;
    width: 99%;
    /* border: 1px solid #212529; */

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

}

.msg-area {
    height: 100%;
    /* border: solid red; */
    flex: 15;

    display: flex;
    flex-direction: column;

    padding: 0.5rem;
    overflow-y: auto;
}

.msg-show {
    color: white;
    width: fit-content;
    padding: 0.5rem;
    max-width: 45%;
    background-color: blue;
    word-wrap: break-word;
}

.author-show {
    background-color: transparent !important;
    color: gray;
    font-size: smaller;
    margin-bottom: 0.5rem;
}

.self-msg {
    background-color: red;
    align-self: flex-end;
}

.send-msg {
    height: 100%;
    /* border: solid blue; */
    flex: 1;
    display: flex;
}

.msg-input {
    width: 100%;
    font-size: larger;
    background-color: rgb(219, 219, 219);
    border: none;
}

.msg-input:focus {
    outline: none;
    background-color: white;
}

.send-btn {
    border-radius: 0 !important;
}

.author-joined {
    align-self: center;
    color: white;
    font-size: normal;
    font-family: monospace;
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
}

.show-online-btn {
    position: absolute;
    border-radius: 0;
}

.show-online-chart {
    display: none;
    width: 200px;
    height: 300px;
    background-color: aqua;
    position: absolute;
    top: 2rem
}